@import "header.css";
@import "footer.css";
@import "news-letter.css";
* {
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
}

.container {
  margin: 0 20px;
}

.hero-page {
  max-width: 1000px;
  width: 100%;
  height: 500px;
  margin: auto;
}

.hero-page-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100%;
}

.image-grid {
  background-image: url(../Images/food-grid.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px 0 0 20px;
}

.description-grid {
  background-color: #682777;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
}

.description-header {
  font-weight: 150;
  text-transform: uppercase;
}

.description-big-header {
  font-size: 30px;
  font-weight: 100;
  line-height: 1.3;
  margin-left: 15px;
}

.description-descritption {
  font-size: 18px;
}

.description-button {
  background-color: #fafbf8ed;
  color: #682777;
  padding: 10px 22px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.card-header {
  margin-top: 100px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 15px;
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.card-body {
  padding: 10px;
}

.card-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-btn {
  background-color: #8e84d0;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  padding-top: 5px;
  margin-top: 1px;
}

a {
  color: white;
  text-decoration: none;
}

.icons {
  margin-left: 10px;
}

figcaption {
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}

.Avatar{
  vertical-align: bottom;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
  .hero-page-grid {
    display: block;
    height: 300px;
  }
  .image-grid {
    display: none;
  }
  .card {
    margin-top: 40px;
  }
  .card-container {
    display: block;
  }
  .card-img {
    object-fit: cover;
    max-width: 400px;
    width: 100%;
    height: 400px;
  }
  .news-letter {
    height: 200px;
  }
  .news-letter-grid {
    display: block;
  }
  .news-letter-image {
    display: none;
  }
}
